.main-container{
  height:100%;
  width:100%;
  @include flexbox();
  @include flex-direction(column);
//header 开始
    .main-header {
        position:relative;
        width:100%;
        height:0.54rem;
        img {
          margin:0.08rem 0 0 1.5rem;
          height:0.30rem;
          width:0.9rem;
          float:left;
        }
        input{
          position:absolute;
          right:0.1rem;
          height:100%;
          width:0.4rem;
          background:#fff;
          border:none;
          float:right;
          color: $baseColor;
          font-size:24px;
        }
    }
//header 结束
   .main-scroll{
      overflow:hidden;
      width:100%;
    }

 .scroll-box {
    height:100%;
    @include flexbox();
    @include flex-direction(column);
    > * {
        width: 100%;
    }
//banner 开始
   .swiper-container{
     height:2.3rem;
     .swiper-wrapper{
       height:100%;
       width:100%
     }
     img{
       height:100%;
       width:100%;
     }
   }
//banner  结束

//first-list 开始
  section{
      height:0.85rem;
      ul{
        @include flexbox();
        padding:0.08rem 0.05rem 0.08rem 0;
        height:100%;
      li{
        @include flexbox();
        width:33.3%;height:100%;
        padding-left:0.05rem;
        img {
          width:100%;height:100%;
        }
      }
    }
  }
  .main-list{
      @include flexbox();
      @include flex(1);
      @include flex-direction(column);
      background:#f7f3ef;
      width:100%;
      dl{
        @include flexbox();
        @include flex-direction(column);
        margin-top:0.08rem;
        width:100%;
        background:#fff;
        dt{
          width:100%;
          @include flexbox();
          @include flex-direction(wrap);
          @include align-items(center);
          @include justify-content(space-between);
          width:100%;
          height:0.4rem;
          padding:0 0.08rem 0 0.08rem;
          p img{
              height:0.3rem;
              width:0.3rem;
            }
            i{
              padding:0 0.05rem;
            }
          span{
            font-size:0.4rem;
            text-align:right;
            line-height:0.4rem;
            color:$baseColor;
            @include flexbox();
            @include justify-content(flex-end);
            // margin:0 0 0.12rem 2.1rem;
          }
        }
        dd{
          width:100%;
        }
        :nth-child(2) img{
          height:100%;
          width:100%;
        }
        :nth-child(3){
          height:0.3rem;
          line-height:0.4rem;
          padding-left:0.1rem;
        }
        :nth-child(4){
          height:0.26rem;
          line-height:0.20rem;
          padding-left:0.04rem;
          span{
            padding:0 4px;
          }
        }
      }
    }
  }
}



//上拉刷新  下拉加载   部分样式代码
.head {
                    text-align: center;
                    height: 0.35rem;
                    line-height: 0.35rem;
                    &.hide {
                      display: none;
                    }
                }

                .head img {
                    width: 0.16rem;
                    display: inline-block;
                    transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    transition: transform 150ms;
                    -webkit-transition: transform 150ms;
                }

                .up {
                    transform: rotate(360deg) !important;
                    -webkit-transform: rotate(360deg) !important;
                }

                .foot {
                    text-align: center;
                    height: 0.35rem;
                    line-height: 0.35rem;
                }

                .foot img {
                    display: inline-block;
                    width: 0.16rem;
                    /*transform: rotate(0deg);*/
                    /*-webkit-transform: rotate(0deg);*/
                    transition: transform 150ms;
                    -webkit-transition: transform 150ms;
                }

                .down {
                    transform: rotate(180deg) !important;
                    -webkit-transform: rotate(180deg) !important;
                }
