.search-container{
  height:100%;
  width:100%;
  @include flexbox();
  @include flex-direction(column);
    .search-header{
       padding:0;
       height:0.6rem;
       width:100%;
       @include flexbox();
       @include align-items(center);
       @include justify-content(center);
       p{
          width:100%;
          text-align:center;
          font-size:0.2rem;
       }
    }
//search-header 结束


    .search-scroll{
      overflow:hidden;
      width:100%;
      .search-box{
        height:100%;
        @include flexbox;
        @include flex-direction(column);
        >*{width:100%}

            .inputbox{
              height:0.5rem;
              background:#f7f3ef;
              @include flexbox();
              @include align-items(center);
              @include justify-content(center);
              input{
                 padding-left:5px;
                 width:90%;
                 height:0.3rem;
                 border-radius:0.2rem;
                 border:1px solid #eee;
                 color:#999;
              }
            }
            //
            .img-box{
              width:100%;
              @include flexbox();
              @include flex-wrap(wrap);
              li {
                height:0.85rem;
                width:50%;
                img{
                   height:100%;
                   width:100%;;
                }
              }
            }
            //nav-box
            .nav-box{
              height:0.9rem;
              color:$baseColor;
              background:#f7f3ef;
              width:100%;
              @include flexbox();
              li{
                width:25%;
                background:#fff;
                margin:0.08rem  0;
                @include flexbox();
                @include flex-direction(column);
                @include align-items(center);
                i{
                  padding-top:0.04rem;
                  width:25%;
                  font-size:0.30rem;
                }
              }
            }

            //section
            section{
              width:100%;

              padding-right:0.08rem;
              @include flexbox();
              @include flex-wrap(wrap);
              dl{
                width:48%;
                height:3.1rem;
                margin:0.15rem 0 0 2%;
                border:0.01rem solid #eee;
                :nth-child(1){
                  width:100%;
                  height:2rem;
                  img{
                    height:100%;
                    width:100%
                  }
                }
                :nth-child(2){
                  padding:0.06rem;
                  font-size:0.12rem;
                  line-height:0.2rem;
                }
                :nth-child(3){
                  height:0.3rem;
                  width:100%;
                  @include flexbox();
                  @include justify-content(space-between);
                  :nth-child(1){
                    height:100%;
                    width:70%;
                    line-height:0.3rem;
                    img{
                      margin:0 0.03rem;
                      height:0.26rem;
                      width:0.28rem;

                    }
                  }
                  :nth-child(2){
                    height:100%;
                    width:30%;
                    i,b{
                      height:0.3rem;
                      line-height:0.24rem;
                    }
                  }
                }
              }
            }
        }
    }
}    
